body {
    background-image: url("background_bia.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
ul {
    margin: 0;
}
a {
    color: #333;
}
.header {
    margin-bottom: 100px;
    text-align: center;
    animation:  fadeDown 1s 1 ease-in-out;
}
.begin {
    font-size: 3rem;
}
.last {
    margin: auto; 
    animation: fadeRight 3s 1 ease-in-out;
}
.choose {
    display: flex;
    flex-direction: row;
    font-size: larger;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px; 
}
.prev {
    font-size: 2.5rem;
}
.choose > .fa-solid {
    font-size: 15px;
    user-select: none;
}
.bia_video {
    width: 100%;
    margin: 0;
    padding: 0;
}
.content {
    text-align: center;
    font-size: 2.4rem;
    padding-bottom: 30px;
    animation: fadeUp 4s 1 ease-in-out;
}
.pleased {
    margin-top: 10px;
}
.highlight {
    font-size: 3rem;
    font-weight: bolder;
}
.date {
    width: 70%;
    margin: auto;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.true_date {
    display: flex;
    flex-direction: column;
}
.true_date > div {
    margin: 5px 0;
}
.true_day {
    font-size: 3rem;
    font-weight: 500;
}
.true_year {
    font-size: 2.5rem;
    font-weight: 300;
}
.phan_cach {
    transform: scaleY(5);
}
.location {
    margin-top: 20px;
}
.link_dang_ky {
    margin-top: 10px;
}
.more {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: center;
}
.more > div {
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 100rem;
    margin: 0 10px;
    cursor: pointer;
}
.more > div > .fa-solid {
    color: #fff;
    padding-top: 13px;
    font-size: 2.3rem;
}
.mess {
    font-size: 1.4rem;
    margin-top: 1.8rem;
}
.layout_script {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.script {
    width: 750px;
    height: 450px;
    background-image: url(background_bia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: default;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    animation: fadeDown 0.75s 1 ease-in-out;
    z-index: 1;
}
.none {
    display: none;
}
@keyframes fadeDown {
    from {
        transform: translateY(-80%);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.script_rule_messeage, .script_info_message {
    font-size: 2rem;
    line-height: 3rem;
    margin-left: 3px;
}
.script_icon {
    width: 250px;
    font-size: 100px;
}
.fa-xmark {
    position: absolute;
    font-size: 3rem;
    top: 1%;
    right: 1%;
    cursor: pointer;
}
@media all and (max-width: 1023px) {
    .script {
        width: 95%;
        height: 90%;
    }
    .script_icon {
        font-size: 50px;
        text-align: center;
    }
}
.footer {
    text-align: center;
    margin-top: 70px;
}
@keyframes fadeUp {
    from {
        transform: translateY(50%);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeRight {
    from {
        transform: translateX(-80%);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeLeft {
    from {
        transform: translateX(  80%);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
